footer {
    height: 100px;
    width: 100%;
    background: #000;
    margin-top: 150px;
    
}

.footer-nav-wrap {
    width: 75%;
    height: 100px;
    margin: 0 auto;
    
}

.footer-nav-wrap p {
    color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    
}