.sec-nav ul li {
    display: block;
    width: auto;
    line-height: 3.5rem;
    transition: .1s ease-in-out;
    

}

.sec-nav ul li:hover {
    font-weight: 700;
    border-right: 4px solid #910a2d;

}



.sec-nav a {
    color: #000;
    padding: 10px;

}