.sec-nav {
    width: 75%;
    margin: 0 auto;

}

.sec-nav ul {
    width: 75%;
    margin: 0 auto;
    text-align: right;

}

.sec-nav ul li {
    display: block;
    width: auto;
    line-height: 3.5rem;
    transition: .1s ease-in-out;
    

}

.sec-nav ul li:hover {
    font-weight: 700;
    border-right: 4px solid #910a2d;

}



.sec-nav a {
    color: #000;
    padding: 10px;

}

.sec-nav a.active {
    color: #910a2d;
    font-weight: 700;
    border-right: 3px solid #910a2d;

}

.sec-nav-wrap {
    height: 100vh;
    width: 33%;
    position: fixed;
    margin-top: 250px;

  }